.mylink:hover{
	background-color: #e2e2e2;
	cursor: pointer; 
}


.mylink{
	height: 60px;
	background-color: #c6c6c6;
}

#aboutme{
	position: absolute;
	top: 100vh;
}


#projects{
	position: absolute;
	top: 300vh;
}


#personalinfo{
	position: absolute;
	top: 600vh;
}

#resume{
	position: absolute;
	top: 700vh;
}