.mylink:hover{
	background-color: #e2e2e2;
	cursor: pointer; 
}


.mylink{
	height: 60px;
	width: 100%;
	background-color: #c6c6c6;
	font-family: 'Oxygen', sans-serif;
	font-size: 21px;
}

.mainlink:hover{
	cursor: pointer; 
}

#aboutme{
	position: absolute;
	top: 110vh;
}


#projects{
	position: absolute;
	top: 250vh;
}


#personalinfo{
	position: absolute;
	top: 700vh;
}

#resume{
	position: absolute;
	top: 800vh;
}

#aseemsane{
	font-family: 'Salsa', cursive;
	font-size: 52px;
	font-weight: bold;
}

p{
	font-family: 'Fira Sans', sans-serif;
}

h1{
	font-family: 'Patua One', cursive;
}

h2{
	font-family: 'Prompt', sans-serif;
	font-weight: bold;
}